@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Top Spin</h1>
    <p class="lead">One stop to keep yourself updated with the latest news in ATP tennis.</p>
    <p><a href="https://www.atpworldtour.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

